node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz

__pycache__
soap-note-litellm-streaming/stream_client_example.py
soap-note-litellm-streaming/stream_client_web.html
soap-note-litellm-streaming/test_stream_simple.py
soap-note-litellm-streaming/test_streaming.sh

