modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["lsof", "jq"]

[deployment]
deploymentTarget = "autoscale"
build = ["sh", "-c", "node deploy-build.js"]
run = ["sh", "-c", "npm start"]

[[ports]]
localPort = 80
externalPort = 5173

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3001

[[ports]]
localPort = 5002
externalPort = 3002

[[ports]]
localPort = 5003
externalPort = 3003

[[ports]]
localPort = 5004
externalPort = 3000

[[ports]]
localPort = 5006
externalPort = 5000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8888
externalPort = 6000

[[ports]]
localPort = 9999
externalPort = 6800

[[ports]]
localPort = 44247
externalPort = 4200

[workflows]
runButton = "Dev Server"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Dev Server"
author = 42543617
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[agent]
integrations = ["javascript_openai==1.0.0"]
